---
layout: page
title: "Categories"
permalink: /categories/
---

<p>Here you can find all posts sorted by category.</p>

{% if site.posts.size > 0 %}
  {% if site.categories != empty %}
    {% for category in site.categories %}
      {% assign cat = category | first %}
      {% assign cat_downcase = cat | downcase %}
      {% unless cat_downcase contains "note" %}
        <h3 style="margin-bottom: 0; margin-top: 15px;">{{ cat | capitalize }}</h3>
        <ul style="list-style-type: none; margin: 0;">
          {% for post in site.posts %}
            {% assign post_cat = post.categories | inspect %}
            {% if post_cat contains cat %}
              {% assign date_format = site.minima.date_format | default: "%d.%m.%Y" %}
              <li><a href="{{ post.url | relative_url }}">{{ post.title }} ({{ post.date | date: date_format }})</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endunless %}
    {% endfor %}
  {% endif %}
{% endif %}
