---
layout: null
title: Home
description: Every great website starts with a great homepage. The homepage tells your viewers what your site is all about and gives your viewers a place to come back to.
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
  Jekyll integration by somiibo.com
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
            <h1>{{site.title}}</h1>
						<h2>A blog about life and software</h2>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2>Welcome</h2>
								</header>
								<a class="image main"><img class="image main" src="{{ "/images/pic01.jpg" | absolute_url }}" alt="" /></a>
                <p>You've found your way to my home page. Thank you for sticking around!</p>

							</article>

						<!-- Posts -->
							<section class="posts">
                {% for post in site.posts limit:4 %}
					<article>
						<header>
							<span class="date">{{ post.date | date_to_string }}</span>
							<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
						</header>
						<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
						<p>{{ post.excerpt }}</p>
						<ul class="actions">
							<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
						</ul>
					</article>
                {% endfor %}

							</section>

						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/blog/" | absolute_url }}" class="button">Blog</a></li>
                </ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    	{% if jekyll.environment == "production" %}
			{% include google-analytics.html %}
		{% endif %}

	</body>
</html>
