<footer id="footer">
  <section class="split contact">
    <section class="alt">
      <h3>Location</h3>
      <p>{{site.location}}</p>
    </section>
    <section>
      <h3>Email</h3>
      <p><a href="mailto:{{site.email}}">{{site.email}}</a></p>
    </section>
    <section>
      <h3>Social</h3>
      <ul class="icons alt">
        <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="me"><span class="label">GitHub</span></a></li>
        <li><a href="https://t.me/{{site.telegram}}" class="icon fa-paper-plane" rel="me"><span class="label">Telegram</span></a></li>
        <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="me"><span class="label">Instagram</span></a></li>
        <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="me"><span class="label">Twitter</span></a></li>
        <li><a href="https://linkedin.com/in/{{site.linkedin}}" class="icon fa-linkedin" rel="me"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://stackoverflow.com/users/{{site.stackoverflow}}" class="icon fa-stack-overflow" rel="me"><span class="label">Twitter</span></a></li>
      </ul>
    </section>
  </section>
  <section>
    {% include disqus.html %}
  </section>
</footer>
<!-- Copyright -->
<div id="copyright">
  <ul>
    <li>Lorenz Bung</li>
    <li><a href="{{site.baseurl}}/legal">Legal information</a></li>
  </ul>
</div>
