<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<title>{{ site.title }} | {{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
<!--
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icon/apple-touch-icon.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16.png" | absolute_url }}">
<link rel="manifest" href="{{ "/assets/icon/manifest.json" | absolute_url }}">
<link rel="mask-icon" href="{{ "/assets/icon/safari-pinned-tab.svg" | absolute_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ "/assets/icon/favicon.ico" | absolute_url }}">
<meta name="msapplication-config" content="{{ "/assets/icon/browserconfig.xml" | absolute_url }}">-->
<meta name="theme-color" content="#ffffff">

<meta name="keywords" content="Lorenz Bung, Software, Computer Science, Development, Life, Blog">
<!-- Confirm OAuth identity -->
<link rel="me" href="https://www.github.com/LorenzBung">
<link rel="me" href="https://www.twitter.com/LorenzBung">
<link rel="me" href="https://www.instagram.com/lorenz.bung">
<link rel="me" href="https://www.linkedin.com/LorenzBung">
<link rel="me" href="https://t.me/LorenzBung">
<link rel="me" href="https://stackoverflow.com/9710338/lorenzbung">
{% seo %}
<link rel="shortcut icon" type="image/png" href="{{ "/assets/icon/favicon.png" | absolute_url }}">
<link rel="apple-touch-icon" href="{{ "/assets/icon/favicon.png" | absolute_url }}">

{% if jekyll.environment == 'production' and site.analytics_id %}
  {% include google-analytics.html %}
  <!-- Cookie banner -->
  <link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"/>
  <script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script><script>window.addEventListener("load", function(){window.wpcc.init({"colors":{"popup":{"background":"#222222","text":"#ffffff","border":"#f9f9f9"},"button":{"background":"#f9f9f9","text":"#000000"}},"position":"bottom","content":{"href":"https://lorenzbung.de/legal","message":"This website uses cookies. By continuing to use this site, you accept the use of cookies and confirm that you read the","link":"privacy policy."}})});</script>
{% endif %}

<!-- CSS -->
<link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}" />
<noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css" | absolute_url }}" /></noscript>
